<!DOCTYPE html>
<html>
<head>
    <title>Delete Records</title>
<style>
body{
  background-image: url(../static/addvoilation-police.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: white;
  background-repeat: no-repeat;
  margin: 30px;
  font-size: 150%;
}
</div>
</style>
</head>
<body>
<h3>Remove Violation from the list</h3>
<form action="/deleterecord" method="post">
Challan Id: <input type="text" name="id">
<input type="submit" value="Submit">
</form>
</body>
</html>