<!DOCTYPE html>
<html>
<head>
    <title>home</title>
<style>
h1   {color: black; font-size: 50px;}
body{
  background-image: url(../static/index.jpg);
  background-position: center;
  background-attachment: fixed;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px;
  font-size: 150%;
}
button {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</div>
</style>
<h1>Welcome to Student Management System</h1>
</head>
<body>
    <br><a href="/add"><button type="button" onclick=<a href="/add">Add Student</button><br>
        <br>
        <a href="/view"><button type="button" onclick=<a href="/view">View Students</button><br>
            <br>
         <a href="/delete"><button type="button" onclick=<a href="/delete">Delete Student</button><br>
           <br><br><br><br>
      <a href="/logout"><button type="button" onclick=<a href="/logout">Logout</button><br>
           <br>



</body>
</html>


