<!DOCTYPE html>
<html lang="en">
<head>
<style>
h1   {color: black; font-size: 40px;}
</style>
    <meta charset="UTF-8">
    <title>Login</title>
<div>
<style>
body{
  background-image: url(../static/user1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-color: white;
  background-repeat: no-repeat;
  margin: 30px;
  font-size: 150%;
}
</style>
</div>
</head>
<h1>WELCOME USER!!</h1>
<body>
<form action = "/login" method="post">
    <br><br><label>USERNAME: </label>
    <input name="username" type="text" placeholder="Enter your username"><br><br>
    <label>PASSWORD: </label>
    <input name="password" type="password" placeholder="Enter your password"><br><br>
     <input type="submit" value="LOGIN"><br><br><br><br>

</form>
</div>
</body>
</html>