<!DOCTYPE html>
<html lang="en">
<head>
    <div>
<style>
body{
  background-image: url(../static/register.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size : cover;
  background-color: white;
  background-repeat: no-repeat;
  margin: 30px;
  font-size: 150%;
}
</style>
</div>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<h1>POLICE REGISTRATION</h1>
<body style="background-color:powderblue;">
<div>
<form action="/createadmin" method="post">
    <label>NAME: </label>
    <input name="name" type="text" id="name"><br><br>
    <label>USERNAME: </label>
    <input name="uname" type="text" id="uname"><br><br>
    <label>PASSWORD: </label>
    <input name="password" type="password" id="password"><br><br>
    <input type="submit" value="REGISTER">
    <div>
        <br><br>
        <label>Already an User? Login Here!</label>
        <a href="/policelogin"><button type="button" onclick=<a href="/policelogin">Login</button></a>

</div>
</form>
</body>
</html>