<!DOCTYPE html>
<html>
<head>
<style>
body{
  background-image: url(../static/list.jpg);
  background-position: center;
  background-attachment: fixed;
  background-color: white;
  background-repeat: no-repeat;
  margin: 30px;
  font-size: 150%;
}
</div>
</style>
</head>
<body>
<br><br><br>
<h3>Student Information</h3>
<table border=5>
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Address</td>
    </thead>

    {% for row in rows %}

        <tr>
            <td>{{row["id"]}}</td>
            <td>{{row["name"]}}</td>
            <td>{{row["email"]}}</td>
            <td>{{row["address"]}}</td>
        </tr>

    {% endfor %}
</table>
<br><br>

<a href="/index">Go Back</a>

</body>
</html>
